data/
*.csv
*.parquet
*.zip
*.pkl
*.npz
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/
mlruns/
mlflow.db
airflow/logs/
airflow.db
.ipynb_checkpoints/
.vscode/
.DS_Store
models/
*.h5
logs/
*.log
